* {
  margin: 0;
  padding: 0;
  background-color: #EEDEBE;
}

body {
  max-width: 1000px;
  margin:0 auto;
}

header {
  display: flex;
  justify-content: space-between;
}

.image img {
  object-fit: cover;
  border-radius: 20%;
}
